.header-container{
    display: flex;
    padding: 15px 10px 15px 10px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px, rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
    z-index: 1;
}

.header-title{
    display: flex;
    align-items: center;
    padding-right: 10px;
}

.header-title:hover{
    cursor: pointer;
}

.header-title-name{
    font-weight: bold;
    margin-left: 5px;
    font-size: 18px;
    color: gray;
}

.header-search-bar{
    display: flex;
    align-items: center;
    flex-grow: 1;
    background-color: #f5f5ef;
    border-radius: 5px;
    padding: 5px 10px;
}

.header-search-bar:focus-within{
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px, rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
}

.header-search-bar input{
    border: none;
    background-color: transparent;
    width: 100%;
    padding-left: 7px;
    color: gray;
}

.header-search-bar input:focus{
    outline: none;
}

.header-app-icon{
    display: flex;
    align-items: center;
    padding-left: 10px;
    padding-right: 10px;
}

.header-user{
    display: flex;
    align-items: center;
}

.login-button{
    background-color: #2196F3;
    border: none;
    padding: 9px 15px 9px 15px;
    color: white;
    border-radius: 5px;
    font-weight: 600;
    cursor: pointer;
}

.user-image-div{
    display: flex;
    padding-right: 5px;
    align-items: center;
}

.user-image{
    border-radius: 50px;
    margin-right: 10px;
}

.logout-para{
    background-color: #DC4535;
    padding: 9px 10px 9px 10px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    font-weight: 600;
    color: white;
}